* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 웹 문서 내용이 브라우저 창에 바짝 붙지 않도록 초기화 */
  font-family: "Poppins", sans-serif;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  /* header의 넓이가 화면에 꽉 차게 */
  padding: 10px 7%;
  background-color: red;
  display: flex;
  justify-content: space-between;
  /* 메뉴간의 간격 */
  align-items: center;
  /* 교차축 방향의 정렬 방법 */
}

.logo {
  font-size: 30px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  /* 링크의 밑줄을 없애줌(none) */
  font-weight: 550;
  /* 폰트 굵기 */
  margin-left: 35px;

  /* transition: 0.3s; */
}

.navbar a:hover {
  color: orange;
}

/* 여기서부터 홈 섹션 */
.home {
  display: flex;
  position: relative;
  height: 100vh;
  align-items: top;
  /* home 태그의 텍스트를 중앙으로 정렬시킴 */
  padding: 8%;
}

.home-content {
  position: static;
  max-width: 600px;
}

.home-content h1 {
  position: relative;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h3 {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  color: orange;
}

.home-content p {
  position: relative;
  font-size: 15px;
  margin: 20px 0 40px;
}

.home-content .button-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 350px;
  height: 50px;
}

.button-box a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background-color: red;
  border: 2px solid red;
  border-radius: 8px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  overflow: hidden;
}

.new-release {
  margin-top: 10%;
  top: 100px;
  left: 100px;
}
.new-release a {
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
}
.txt {
  display: flex;
  bottom: 10px;
}

.news {
  margin-left: 20%;
  position: static;
  max-width: 600px;
  top: 100px;
  left: 100px;
}

.news a {
  font-size: 15px;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  /* 여기를 inline-block으로 바꾸니까 news 태그가 home 태그 옆으로 이동함 */
}

.character {
  margin-top: 10%;
}

.character a {
  font-size: 15px;
  text-decoration: none;
  padding: 10px;
}

.character a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: orange;
}

.character a:hover {
  color: orange;
}

.character-imgHover {
  position: absolute;
  top: 0;
  right: 30px;
  width: 40%;
  height: 100%;
  background-color: transparent;
  /* border: 2px solid red; */
  transition: 3s;
}

hr {
  background: red;
  height: 2px;
  border: 0px;
}
/* hr 태그를 변경하려면 background나 color 속성만 변경하면 색상이 변하지 않는다.
height를 1px을 주고 background를 주면 색상이 변하는 걸 확인할 수 있고
이때 border는 0으로 맞춰준다.
줄 넓이를 키우고 싶을 경우 height를 조절해주면 끝! */

.social {
  position: absolute;
  /* bottom은 position 속성이랑 같이 사용됨 */
  /* bottom: 하단 기준으로 설정된다 */
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.social {
  padding: 20px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.social a {
  color: red;
  display: flex;
  justify-content: center;
  /* justify-content: 수평 정렬 할때 사용 */
  align-items: center;
  /* align item: 수직 정렬 할때 사용 */
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid red;
  /* 테두리 설정 */
  border-radius: 50%;
  text-decoration: none;
}
